@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: hsl(275, 100%, 97%);
  background-image: url("./assets/images/background-pattern-mobile.svg");
  /* TODO: Adjust bg img */
  background-repeat: no-repeat;
  margin: 0;
}
article.faq {
  color: hsl(292, 45%, 20%);
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  padding: 1.67rem;
  margin: 1.5rem;
}
button.accordion {
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
}
button.accordion:hover {
  /* Change text color upon hovering */
  color: hsl(292, 60%, 50%);
  cursor: pointer;
}
p.answer {
  color: hsl(292, 16%, 49%);
  font-size: 1rem;
  font-weight: 400;
  /* Hide FAQ answers unless expanded by user */
  max-height: 0;
  overflow: hidden;
  /* Animate the accordion expansion/retraction */
  transition: max-height 0.3s ease-out;
}
@media (min-width: 375px) {
  body {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
